.title{
    text-align: center;
    font-size: 1vw;
}
.pmg{
    width: 100%;
    height: 100%;
    margin: 0;
    font-size: 1.4vw;
    font-weight: bold;
}

.gif{
    margin: 5% 10%;
    width: 80%;
    height: 90%;
}
.mem{
    text-align: center;
    font-weight: bold;
}
.content{
    font-family:cursive;
}