.avtar{
    display:block;
    width: 30%;
    height: 100%;
    float: left;
}
.tCard{
    margin: 1% 10%;
    width:80%;
    height: 60%;
}
.namePostion{
    display: block;
    text-align: center;
    font-size: 2vw;
    font-weight: bold;
}
.mCard{
    margin: 1% 10%;
    width: 80%;
    height: 60%;
}
.inform{
    text-align: center;
    font-size: 1vw;
    font-weight: bold;
}
.content{
    width: 92%;
}
.field{
    margin: 1% 0 0 5% ;
    font-weight: bold;
    font-size: 2vw;
    border: 0.2vw solid skyblue;
}

.text{
    margin: 1% 0 0 5% ;
    font-size: 1.5vw;
}
